@font-face {
    font-family: "Avenir-Black";
    src: url("assets/Avenir-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Avenir-Medium";
    src: url("assets/Avenir-Medium.ttf") format("truetype");
}
body {
	font-family: "Avenir-Medium";
	line-height: 1.6;
}
.header {
	overflow: hidden;
	margin: 0 auto;
	padding: 40px;
	width: 700px;
	height: 300px;
}
.header .photo {
	display: inline-block;
	width: 248px;
	vertical-align: middle;
}
.header .photo img{

}
.header .brief {
	display: inline-block;
	padding: 60px;
	min-height: 180px;
	vertical-align: middle;
}
.header .brief .name {
	font-family: "Avenir-Black";
	font-size: 40px;
}
.header .brief .points {
	font-size: 20px;
}
.links-wrapper{
	display: table;
	margin: 0 auto;
	padding: 50px;
}
.links {
	display: table-row;
	width: 1240px;
}
.links .link {
	display: table-cell;
	height: 248px;
	width: 248px;
	vertical-align: middle;
	text-align: center;
}
.links .link:hover{
	box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}
.links a{
	display: inline-block;
}
.links .link .brand-img {
	display: inline-block;
}
.links .link .text {
	display: none;
}
.links #github {
	background-color: #81DFB4;	
}
.links #linkedin {
	background-color: #F1F8FF;	
}
.links #technonerds {
	background-color: #2C4B86;	
}
.links #unsplash {
	background-color: #E9FBF6;	
}
.links #medium {
	background-color: #000000;	
}
.letter{
	margin: 0 auto;
	max-width: 60%;
	font-size: 20px;
}
.footer {
	height: 100px;
}