.links {
    height: 10vh;
    max-height: 200px;
    display: inline-block;
    vertical-align: middle;
}

.links a {
    height: 10vh;
    padding: 0vh 1vh;
    display:inline-block;
    vertical-align: middle;
}

.links a:hover {
    background-color: lightgrey;
}

.links a img {
    height: 4vh;
    width: 4vh;
    margin: 3vh 20px;
    display:inline-block;
    vertical-align: middle;
}