.photo-header {
    height: 100vh;
    max-width: 100vw;
    position: relative;
    text-align: center;
}

.photo-header .photo {
    height: 100vh;
}

.photo-header .photo:before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(255,255,255,0.7);
    z-index:2;
}

.photo-header .photo img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.photo-header .details-row {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.photo-header .details-row .profile {
    height: 10vh;
}

.photo-header .details-row .profile .name {
    height: 10vh;
    font-weight: bold;
    font-size: 4vh;
    line-height: 4vh;
    margin-top: 4vh;
    font-family: 'Metric';
    font-weight: bold;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.social-icons {
    float: right;
}